@font-face {
    font-family: 'Fira Sans Regular';
    src: url('../fonts/FiraSans-Regular.ttf') format('truetype');

}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 700; 
    font-style: normal;
}

:root {
    --radio: 20px;
    --color-font-light: #f1f1f1;
    --color-dark: #273136;
    --color-primary: #a83338;
    --color-secondary: #4a1818;
    --color-scalet-red: #c60000;
}

* {
    font-family: 'Fira Sans Regular';
    margin: 0px;
    
    a{
        text-decoration: none;
    }
}

h2, h4, h1, .footer-card p{
    font-family: "Space Grotesk";
}

header {
    padding: 5px;
    background-color: var(--color-primary);
    color: var(--color-font-light);
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    align-items: center;

    img {
        height: 15px;
    }

    .search-box {
        background-color: var(--color-secondary);
        border-radius: var(--radio);
        align-items: center;
        padding: 5px 10px;
        width: 25%;

        .search-icon {
            margin-right: 10px;
            font-size: 14px;
            color: var(--color-font-light);
        }

        input {
            background: transparent;
            border: none;
            outline: none;
            color: var(--color-font-light);
            font-size: 12px;
        }
    }

    .icon-perfil-card a img {
        margin: 5px;
    }

}

nav {
    background-color: var(--color-font-light);
    align-items: center;

    ul {
        padding: 10px;
        margin-left: 25px;
    }

    ul li {
        display: inline-block;
        margin-left: 10px;

    }

    ul li:hover {
        text-decoration: underline;
    }

    ul li a {
        color: var(--color-dark);
        font-weight: bolder;
        font-size: 17px;
    }

    ul li a img {
        width: 12px;
        margin-right: 5px;
    }

}

aside {
    background-color: var(--color-dark);
    border-top-left-radius: var(--radio);
    border-bottom-left-radius: var(--radio);
    border-bottom-right-radius: var(--radio);

    img {
        padding: 0px;
        margin: 0px;
        width: 100%;
        border-top-left-radius: var(--radio);
        border-bottom-right-radius: var(--radio);
    }

    a,
    .a-secundario {
        margin: 20px;
        font-weight: bolder;
        text-decoration: none;
        color: var(--color-font-light);
    }

    a {
        font-size: 20px;
    }

    .a-secundario {
        font-size: 15px;
    }
}

main {
    width: 80%;
    margin: auto;
}

h2 {
    color: var(--color-dark);
    text-align: center;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
}

.producto{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;

    .imagen-producto{
        width: 60%;
        margin-right: 15px;

        h1{
            color: var(--color-dark);
            
        }
        img{
            width: 80%;
        }

        img:hover{
            width: 100%;
            transition: width 0.5s ease;
        }
    }

    .descripcion-producto{
        width: 40%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .imagen-producto, .descripcion-producto{
        padding: 15px;
        border-radius: var(--radio);
        
    }
}
.contenedor-productos {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;

    .tarjeta-productos {
        width: 25%;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 5px;
        margin-right: 5px;
    }

    img {
        width: 60%;
        height: auto;
        border-radius: 6px;
        align-items: center;
        margin-bottom: 10px;
        margin-bottom: 20px;
    }

    .marca {
        font-size: 13px;
        font-weight: bold;
        color: #444;
        margin-bottom: 4px;
    }

    .nombre {
        font-size: 14px;
        font-weight: 500;
        color: #111;
        margin-bottom: 6px;
    }

    .titulo a{
        color: var(--color-dark);
    }

    .vendido {
        font-size: 12px;
        color: #777;
        margin-bottom: 10px;
    }

    .vendido span {
        color: #555;
        font-weight: bold;
    }

    .precios {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-bottom: 12px;
    }

    .anterior {
        text-decoration: line-through;
        color: #888;
        font-size: 13px;
    }

    .actual {
        color: var(--color-scalet-red);
        font-weight: bold;
        font-size: 16px;
    }

    .descuento {
        background-color: var(--color-scalet-red);
        color: white;
        font-size: 12px;
        padding: 2px 5px;
        border-radius: 4px;
    }

    button {
        background-color: var(--color-primary);
        color: white;
        border: none;
        margin-top: 20px;
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;
        width: 80%;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #a00000;
    }
}

footer {
    width: 100%;
    background-color: var(--color-font-light);
    font-size: small;
    color: var(--color-dark);
    padding-top: 30px;
    padding-bottom: 30px;


    .footer-content {
        width: 80%;
        margin: auto;
        display: flex;

    }

    .footer-card {
        position: relative;
        padding-left: 15px;
        padding-right: 10px;
        width: 25%;

        p {
            font-weight: bolder;
        }

        img {
            width: 100%;
        }


        ul {
            list-style-type: none;
        }

        ul li {
            margin-top: 10px;
        }
    }

    .footer-card::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        /* Partimos desde la mitad */
        transform: translateY(-50%);
        /* Centramos verticalmente */
        height: 50px;
        /* Altura de la línea */
        width: 1px;
        /* Grosor de la línea */
        background-color: var(--color-dark);
        /* Color de la línea */
    }
}