:root {
    --radio: 20px;
    --color-font-light: #f1f1f1;
    --color-dark: #273136;
    --color-primary: #a83338;
    --color-secondary: #4a1818;
}

* {
    margin: 0px;
}

header {
    padding: 5px;
    background-color: var(--color-primary);
    color: var(--color-font-light);
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    align-items: center;

    img {
        height: 15px;
    }

    .search-box {
        background-color: var(--color-secondary);
        border-radius: var(--radio);
        align-items: center;
        padding: 5px 10px;
        width: 25%;

        .search-icon {
            margin-right: 10px;
            font-size: 14px;
            color: var(--color-font-light);
        }

        input {
            background: transparent;
            border: none;
            outline: none;
            color: var(--color-font-light);
            font-size: 12px;
        }
    }

    .icon-perfil-card a img {
        margin: 5px;
    }

}

nav {
    background-color: var(--color-font-light);
    align-items: center;

    ul {
        padding: 10px;
        margin-left: 25px;
    }

    ul li {
        display: inline-block;
        margin-left: 10px;

    }

    ul li:hover {
        text-decoration: underline;
    }

    ul li a {
        text-decoration: none;
        color: var(--color-dark);
        font-weight: bolder;
        font-size: 17px;
    }

    ul li a img {
        width: 12px;
        margin-right: 5px;
    }

}

aside {
    background-color: var(--color-dark);
    border-top-left-radius: var(--radio);
    border-bottom-left-radius: var(--radio);
    border-bottom-right-radius: var(--radio);

    img {
        padding: 0px;
        margin: 0px;
        width: 100%;
        border-top-left-radius: var(--radio);
        border-bottom-right-radius: var(--radio);
    }

    a,
    .a-secundario {
        margin: 20px;
        font-weight: bolder;
        text-decoration: none;
        color: var(--color-font-light);
    }

    a {
        font-size: 20px;
    }

    .a-secundario {
        font-size: 15px;
    }
}

main {
    width: 80%;
    margin: auto;
}

.contenedor-productos {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

footer {
    width: 100%;
    background-color: var(--color-font-light);
    font-size: small;
    color: var(--color-dark);
    padding-top: 30px;
    padding-bottom: 30px;


    .footer-content {
        width: 80%;
        margin: auto;
        display: flex;

    }

    .footer-card {
        position: relative;
        padding-left: 15px;
        padding-right: 10px;
        width: 25%;

        p {
            font-weight: bolder;
        }

        img {
            width: 100%;
        }


        ul {
            list-style-type: none;
        }

        ul li {
            margin-top: 10px;
        }
    }

    .footer-card::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        /* Partimos desde la mitad */
        transform: translateY(-50%);
        /* Centramos verticalmente */
        height: 50px;
        /* Altura de la línea */
        width: 1px;
        /* Grosor de la línea */
        background-color: var(--color-dark);
        /* Color de la línea */
    }
}